$page-max-width: 100%
$page-max-height: 3000px 
$section-size: 43vw
$x-logo: 40%
$y-logo: 20%
$logo-container-size: 25vw
$logo-size: 21vw
$user_e-x: 1150px
$user-y: 42px
$user_r-x: 1250px
$burguer-size: 2vw
$polygon-size-x: 3vw
$console-size-x: 55%
$console-size-y: 80%