---
title: Game Trading
---
<body >
  <div class="wrapper">
      <section class="page1">
        <div class="menu">
          <div class="sidebar">
            <div class="side_item" >
              <img id="homeicon" class="icono" src="images/home.png" height="42" width="42" alt=""> 
            </div>
            <div class="side_item" >
              <img id="psicon" class="icono" src="images/ps.png" height="42" width="42" alt="">
            </div>
            <div class="side_item" >
              <img id="xboxicon"  class="icono" src="images/X1.png" height="42" width="42" alt="">
            </div>
            <div class="side_item" >
              <img id="ninicon" class="iconon" src="images/wii.png" height="42" width="49" alt="">
            </div>
             <div class="side_item" >
              <img id="exit" class="iconon" src="images/exit.png" height="50" width="49" alt="">
            </div>
          </div>

        </div>
        <div class="burguer"><img class="burguer_button" src="images/menu.png" alt=""></div>
        <div class="logo"></div>
        <div class="user_e">
           <a href="#">Entrar</a>
        </div>
        <div class="user_r">
          <a href="#">Registrate</a>
        </div>
        <div class="search">
          <input type="submmit" class="search_field">
          <button class="search_btn">Buscar</button>
        </div>
        <div class="next_page">
          <p>Game Trading es...</p>
          <a class="next_icon" href=""><img src="images/next.png" height="15" width="15" alt=""></a>
        </div>
      </section>
      <section class="page2">
        <div class="description">
          <p>Game trading es una herramienta que te permite intercambiar video juegos, libre de costo alguno y enfocada en el jugador.</p>
        </div>
        <div class="description2">
          <p>Lista los juegos disponibles para cambiar en 3 simples pasos…</p>
        </div>
      </section>
    </div>
</body>