---
title: Game Trading
---
<body >
  <div class="wrapper">
      <section class="page1">
        <div class="menu">
          <div class="sidebar">
            <div class="side_item" >
              <img id="homeicon" class="icono" src="images/home.png" alt=""> 
            </div>
            <div class="side_item" >
              <img id="psicon" class="icono" src="images/ps.png" alt="">
            </div>
            <div class="side_item" >
              <img id="xboxicon"  class="icono" src="images/X1.png"  alt="">
            </div>
            <div class="side_item" >
              <img id="ninicon" class="icono" src="images/wii.png"  alt="">
            </div>
             <div class="side_item2">
              <img class="icono_exit" src="images/exit.png" alt="">
            </div>
          </div>

        </div>
        <div class="burguer"><img class="burguer_button" src="images/menu.png" alt=""></div>
        <div class="logo"></div>
        <div class="user_e">
           <a href="#">Entrar</a>
        </div>
        <div class="user_r">
          <a href="#">Registrate</a>
        </div>
        <div class="search">
          <input type="submmit" class="search_field">
          <button class="search_btn">Buscar</button>
        </div>
        <div class="next_page">
          <p>Game Trading es...</p>
          <a class="next_icon" href="#pagina2"><img src="images/next.png" height="15" width="15" alt=""></a>
        </div>
      </section>
      <section class="page2" id="pagina2">
        <div class="description">
          <p>Game trading es una herramienta que te permite intercambiar video juegos, libre de costo alguno y enfocada en el jugador.</p>
        </div>
        <div class="description2">
          <p>Lista los juegos disponibles para cambiar en 3 simples pasos…</p>
        </div>
        <div class="rombos">
          <div class="rombo"><img src="images/Polygon 1.png" height="78" width="68" alt=""></div>
          <div class="rombo"><img src="images/Polygon 2.png" height="78" width="68" alt=""></div>
          <div class="rombo"><img src="images/Polygon 3.png" height="78" width="68" alt=""></div>
        </div>
        <div class="steps">
            <div class="step">
              <p>Registrate</p>
            </div>
            <div class="step">
              <p>Busca</p>
            </div>
            <div class="step">
              <p>Acuerda el intercambio</p>
            </div>
        </div>
      </section>
    </div>
</body>